@font-face {
  font-family: gillL;
  src: url(../fonts/Gill-Sans-Font-Family/Gill\Sans\Light.otf)
}
@font-face {
  font-family: prox;
  src: url(../fonts/Mark\Simonson\\Proxima\Nova\Condensed\Light\TheFontsMaster.com.otf);
}

nav {
  height: 65px;
  width: $content-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  
 a {
    text-decoration: none;
    color: #fff;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 47px;    letter-spacing: 2px;
  }

  .logo {
    width: 92px;
    height:42px;
    border:2px solid white;
     h4{
      margin-top: 23px;
      font-family: gillL;
      letter-spacing: 3px;
      color: white;
  }
  }
  .links {
    min-width: 300px;
    height: 42px;
    align-items: center;
    margin-top: 47px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .pipe {
      color: #79ADDC;
    }

  }

}
hr {
  color: #fff;
  width: $content-width;
  margin: 0 auto;
  margin-top:20px;
}

@media all and (max-width:920px) {
  nav {
    width: 100%;
   a {
      
    }
  
    .logo {
      
       h4{
       
    }
    }
    .links {
      
      .pipe {
       
      }
  
    }
  
  }
  hr {
    
  }
}