@import "variable.scss";
@import "structure.scss";
@import "nav.scss";
@import "home/home.scss";
@import "footer.scss";
@import "about/about.scss";
@import "tours/tours.scss";
@import "tours/israel.scss";
@import "tours/USA.scss";
@import "tours/australia.scss";
@import "tours/NZ.scss";
@import "tours/France.scss";
@import "tours/Egypt.scss";
@import "tours/Japan.scss";
@import "tours/Canada.scss";
@import "tours/UAE.scss";
